.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.spase-betwin-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column-flex{
    display: flex;
    flex-direction: column;
}