@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}


:root {
    --white-color-1: #FFFFFF;
    --white-color-2: #FEFEFE;
    --gray-color-1: #9B959B;
    --gray-color-2: #8F8D8E;
    --black-color-1: #000000;
    --black-color-2: #242527;
    --google-fonts-1: Manrope;
    --google-fonts-2: Ubuntu;
    --google-fonts-3: Orbitron;
}

.section-one {
    width: 100%;
}

.home-blog {
    width: 100%;
    height: auto;
    padding: 0 0 70px 0;
    background-color: var(--black-color-2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

header {
    width: 90%;
    height: 130px;
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-bottom: 1px solid var(--white-color-1);

}

.logo {
    display: flex;
    align-items: center;
    gap: 40px;
    flex: 1;
}

.logo img {
    width: 150px;
}

.logo h1 {
    font-family: Orbitron;
    font-weight: 700;
    font-size: 50px;
    color: var(--white-color-1);
}


.head-ul-a {
    display: flex;
    justify-content: end;
    flex: 1;
    gap: 20px;
}

.head-ul-a a {
    font-size: 20px;
    color: var(--white-color-1);
    font-family: var(--google-fonts-3);
    position: relative;
    overflow: hidden;
    line-height: 40px;
    cursor: pointer;
}

.head-ul-a a::before {
    content: "";
    width: 10%;
    height: 2px;
    background-color: var(--white-color-1);
    position: absolute;
    bottom: 0;
    border-radius: 10%;
    transition: 0.3s ease;
}

.head-ul-a a:hover::before {
    width: 100%;
}

.head-btn {
    width: 150px;
    height: 40px;
    background: none;
    border: 1px solid var(--white-color-1);
    background-color: var(--white-color-1);
    transition: 0.3s ease;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.head-btn-h1 {
    position: relative;
    z-index: 5;
    font-size: 20px;
    font-weight: 300;
    color: var(--black-color-1);
    font-family: var(--google-fonts-3);
}

.head-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px 0 0 20px;
    transform: translateX(-100%);
    background-color: var(--black-color-1);
    z-index: 1;
    transition: 0.3s ease;
}

.head-btn:hover .head-btn-h1 {
    color: var(--white-color-1);
}

.head-btn:hover:before {
    transform: translateX(10%);
}

.about-home-section {
    width: 90%;
    max-width: 1400px;
    height: auto;
    padding: 20px 0px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}


.about-m3-head {

    width: 100%;
    height: 200px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color-1);
}

.about-m3-header {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-self: center;
    justify-content: center;
}

.about-m3-header h1 {
    font-size: 40px;
    font-family: var(--google-fonts-3);
    color: var(--white-color-2);
    font-weight: 400;
    text-align: center;
}

.about-m3-container1,
.about-m3-container2,
.about-m3-container3 {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;

}


.about-m3-container1 span,
.about-m3-container2 span,
.about-m3-container3 span {
    font-size: 40px;
}

.about-m3-container1 span h1,
.about-m3-container2 span h1,
.about-m3-container3 span h1 {
    font-size: 40px;
    font-family: var(--google-fonts-3);
    font-weight: 400;
    height: 40px;
    width: auto;
    display: flex;
}

.about-m3-man {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    position: relative;
}

.about-m3-man img {
    margin-top: 40%;
    object-fit: cover;
}


.section-two {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 500px;
}


.slider-container {
    width: 90%;
    height: 500px;
    max-width: 1400px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slider-track {
    width: calc(300px * 9);
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(-400px * 3));
    }

    100% {
        transform: translateX(0);
    }
}

.slide {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.slide img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.3d-model